@import "tailwindcss";

@tailwind base;
@tailwind components;
/* @tailwind utilities; */

[x-cloak] {
    display: none;
}

& *::selection {
    background-color: #b1a6a668;
}

.club-name {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
}

.icon-container {
    @apply flex items-center justify-center rounded-full;
    /* width: 64px;
  height: 64px; */
    background: linear-gradient(
        to right,
        #3477f4 0% 45%,
        #666666 45% 55%,
        #3f8e28 55% 100%
    );
}

.btn-primary {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.box-page {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.box-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.box-text {
    flex: 2 1 350px;
}

body {
    @apply text-lg lg:text-xl;
}

.card-header {
    @apply flex h-15 lg:h-20 justify-start rounded-full bg-zinc-800 items-center text-white mb-6;
}

.card-header-icon {
    @apply mr-4 rounded-full bg-blue-500 h-18 lg:h-24 w-18 lg:w-24 flex items-center justify-center;
}

.card-header-icon img {
    @apply w-10 lg:w-15;
}

.card-header-text {
    @apply text-3xl lg:text-4xl font-bold;
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;

}

.bangers {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
}

.basket-tile {
    background-image: url("/images/basket.svg");
    background-size: 5%;
    background-repeat: repeat;
    background-attachment: fixed;
    /* transform: rotate(45deg); */
    /* width: 100vw;
    height: 100vh; */
    /* position: fixed; */
}

.squatch-tile {
    display: block;
    background-image: url("/images/multi_squatch.png");
    background-size: 23%;
    background-repeat: repeat;
    /* background-attachment: fixed; */
    height: 100%;
    width: 100%;
}
