@import "tailwindcss";

@tailwind base;
@tailwind components;
/* @tailwind utilities; */

[x-cloak] {
    display: none;
}

& *::selection {
    background-color: #b1a6a668;
}

.club-name {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}
